.leaflet-control-geocoder-form input, .leaflet-control-geocoder-form ul, .leaflet-control-geocoder-error {
	float: right;
	clear: both;
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	background: #f8f8f9;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	border: 0;
	color: transparent;
}

.leaflet-control-geocoder-form input {
	background-image: url(images/geocoder.png);
	background-repeat: no-repeat;
	background-position: right;
	font-size: 14px;
	width: 26px;
	height: 26px;
	transition: all 0.125s ease-in;
}

.leaflet-control-geocoder-throbber input {
	background-image: url(images/throbber.gif);
}

.leaflet-control-geocoder-expanded input, .leaflet-control-geocoder-error {
	width: 200px;
	padding-left: 8px;
	padding-right: 26px;
	color: #000;
}

.leaflet-control-geocoder-form input:focus {
	outline: none;
}

.leaflet-control-geocoder-form button {
	display: none;
}

.leaflet-control-geocoder-form-no-error {
	display: none;
}

.leaflet-control-geocoder-error {
	margin-top: 8px;
	display: block;
	color: #444;
}

ul.leaflet-control-geocoder-alternatives {
	width: 234px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	list-style: none;
  	padding: 0;
}

.leaflet-control-geocoder-alternatives li {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid #eee;
	padding: 0;
}

.leaflet-control-geocoder-alternatives li:last-child {
	border-bottom: none;
}

.leaflet-control-geocoder-alternatives a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 6px 8px 16px 6px;
	font-size: 14px;
}

.leaflet-control-geocoder-alternatives a:hover, .leaflet-control-geocoder-selected {
	background-color: #0078A8;
}
