.leaflet-control-geocoder {
	background: white;
	line-height: 26px;
	overflow: hidden;
}

.leaflet-touch .leaflet-control-geocoder {
    line-height: 30px;
}

.leaflet-control-geocoder {
	display: inline;
}

.leaflet-control-geocoder.leaflet-control a {
	border-bottom: none;
}

.leaflet-control-geocoder input {
	border: 0;
}

.leaflet-control-geocoder input {
	font-size: 16px;
	width: 0;
	transition: width 0.125s ease-in;
}

.leaflet-touch .leaflet-control-geocoder input {
	font-size: 22px;
}

.leaflet-control-geocoder-icon {
	width: 26px;
	height: 26px;
	background-image: url(images/geocoder.png);
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	cursor: pointer;
}

.leaflet-touch .leaflet-control-geocoder-icon {
	margin-top: 2px;
	width: 30px;
}

.leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
	background-image: url(images/throbber.gif);
}

.leaflet-control-geocoder-expanded input, .leaflet-control-geocoder-error {
	width: 226px;
	margin: 0 0 0 4px;
	padding: 0 0 0 4px;
	vertical-align: middle;
	color: #000;
}

.leaflet-control-geocoder input:focus {
	outline: none;
}

.leaflet-control-geocoder-address-detail {
	font-size: 12px;
	font-weight: normal;
}

.leaflet-control-geocoder-address-context {
	color: #666;
	font-size: 12px;
	font-weight: lighter;
}

.leaflet-control-geocoder-result {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-top: 1px;
    margin-left: -5px;
    z-index: 1000; /* Arbitrary, but try to be above "most" things. */
}

.leaflet-control-geocoder-result table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: white;
    cursor: pointer;
}

.leaflet-control-geocoder-result-open {
    max-height: 800px;
}

.leaflet-control-geocoder-selected, .leaflet-control-geocoder-result td {
	border-bottom: 1px solid #f4f4f4;
	padding-left: 7px;
}

.leaflet-control-geocoder-selected, .leaflet-control-geocoder-result tr:hover {
    background-color: #f4f4f4;
}

.leaflet-control-geocoder-no-results {
	padding-left: 5px;
    font-style: italic;
    color: #888;
}
