<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">

    <title>
      {% if page.title %}{{ page.title }} &middot; {% endif %}
      Leaflet Control Geocoder
    </title>

    <!-- CSS -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.css">
    <![endif]-->
  </head>
  <body>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/perliedman/leaflet-control-geocoder">Fork me on GitHub</a>
        </div>
    </div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <header class="hero-header">
          <h1 class="hero-heading"><a href="{{site.baseurl}}/">Leaflet Control Geocoder</a></h1>
        </header>
      </div>
    </div>
    <hr>

    {{ content }}

  </div>
</div>
  </body>
</html>
